{% extends './base.html' %}
{% load static %}


{% block content %}
<div id="main">
	<main>
		<div class="layout">
			{% include './components/navigation.html' %}
			{% include './components/sidebar.html' %}
			{% include './components/add_friends.html' %}
			{% include './components/create_chat.html' %}
			{% include './components/main.html' %}
		</div>
	</main>
</div>

<script>
    var members = new Vue({
        el: '#main',
        delimiters: ["[[", "]]"],
        data: function() {
            return {
                contacts: [],
                messages: [],
                notifications: [],
                currentContact: null,
                user_id: "{{ user.id }}",
                chatSocket: null,
                messagesStyle: null,
                search: "",
            };
        },
        methods: {
            getContacts: function(filter) {
                axios.get(`http://127.0.0.1:8000/contacts/?filter=${filter}`)
                .then(res => JSON.parse(res.data))
                .then(data => {
                    this.contacts = data;
                })
                .catch(err => console.log(err))
            },
            getNotifications: function(filter) {
                axios.get(`http://127.0.0.1:8000/notifications/?filter=${filter}`)
                .then(res => JSON.parse(res.data))
                .then(data => {
                    console.log(data);
                    this.notifications = data;
                })
                .catch(err => console.log(err))
            },
            loadRoom: function(contact) {
                this.currentContact = contact;
            },
            populateMessages: function(contact) {
                axios.get(`http://127.0.0.1:8000/messages/${contact.roomid}/`)
                .then(res => res.data)
                .then(data => {
                    this.messages = data;
                })
                .catch(err => {
                    console.log(err);
                })
            },
            createChatSocket: function(contact) {
                this.chatSocket = new WebSocket(
                    'ws://'
                    + window.location.host
                    + '/ws/chat/'
                    + contact.roomname
                    + '/'
                );

                this.chatSocket.onmessage = this.onMessage;

                this.chatSocket.onclose = this.onClose;
            },
            onMessage: function(e) {
                const message = JSON.parse(e.data);
                this.messages.push(message);
                setTimeout(() => {
                    let content = document.querySelector("#content");
                    content.scrollTop = content.scrollHeight;
                }, 200)
            },
            onClose: function(e) {
                console.error('Chat socket closed unexpectedly');
            },
            onContactClickChanges: function(contact) {
                this.messagesStyle = {
                    visibility: 'visible',
                };
                document.querySelector("#message_input").focus();
                setTimeout(() => {
                    let content = document.querySelector("#content");
                    content.scrollTop = content.scrollHeight;
                }, 500)
            },
            sendMessage: function() {
                const messageInputDom = document.querySelector('#message_input');
                const content = messageInputDom.value;

                if(content.length > 0) {
                    this.chatSocket.send(JSON.stringify({
                        'content': content,
                        'user': this.currentContact.userid,
                        'room': this.currentContact.roomid,
                    }));
                }
                
                messageInputDom.value = '';
            },
            clickSubmitButton: function(e) {
                if(e.keyCode == 13) {
                    document.querySelector("#message_submit").click();
                }
            },
            acceptFriendRequest: function(id) {
                axios.post(`http://127.0.0.1:8000/accept_friend_request/${id}/`)
                .then(res => this.deleteNotification(id))
                .catch(err => console.log(err))
            },
            rejectFriendRequest: function(id) {
                console.log(id);
                axios.post(`http://127.0.0.1:8000/reject_friend_request/${id}/`)
                .then(res => this.deleteNotification())
                .catch(err => console.log(err))
            },
            deleteNotification: function(id) {
                for(let i = 0; i < this.notifications.length; i++) {
                    if(this.notifications[i].friendrequestid == id) {
                        this.notifications.splice(i, 1);
                    }
                }
                this.getContacts('all');
            }
        },
        watch: {
            currentContact: function(contact) {
                this.populateMessages(contact);
                this.createChatSocket(contact);
                this.onContactClickChanges();
            },
            search: function(search_query) {
                axios.get(`http://127.0.0.1:8000/search/${search_query}/`)
                    .then(res => JSON.parse(res.data))
                    .then(data => {
                        this.contacts = data;
                    })
                    .catch(err => console.log(err))
            }
        },
        mounted: function() {
            axios.defaults.headers["X-CSRFToken"] = Cookies.get('csrftoken');
            
            this.getContacts('all');
            this.getNotifications('all');
        },
    });
</script>
{% endblock content %}