{% load static %}

<!-- Start of Notifications -->
<div id="notifications" class="tab-pane fade">
    <div class="list-group sort">
        <button class="btn">All</button>
        <button class="btn">Latest</button>
        <button class="btn">Oldest</button>
    </div>						
    <div class="notifications">
        <h1>Notifications</h1>
        <div class="list-group" id="alerts">
            <a 
                v-for="notification in notifications"
                href="#" 
                class="notification">
                
                <img class="avatar-md" src="{% static 'chat/img/avatars/avatar-female-1.jpg' %}" data-toggle="tooltip" data-placement="top" title="Janette" alt="avatar">
                <div class="data">
                    <p>[[notification.otherusername]] sent you a friend request</p>
                    <div class="sort">
                        <div>
                            <button 
                                @click="acceptFriendRequest(notification.friendrequestid)"
                                class="btn">Accept</button>
                        </div>
                        <div>
                            <button 
                                @click="rejectFriendRequest(notification.friendrequestid)"
                                class="btn">Reject</button>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- End of Notifications -->