{% load static %}

<!-- Start of Settings -->
<div class="tab-pane fade" id="settings">			
    <div class="settings">
        <div class="profile">
            <img class="avatar-xl" :src="profile.image" alt="avatar">
            <h1><a href="#">[[profile.username]]</a></h1>
        </div>
        <div class="categories" id="accordionSettings">
            <h1>Settings</h1>
            <!-- Start of My Account -->
            <div class="category">
                <a href="#" class="title collapsed" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <i class="material-icons md-30 online">person_outline</i>
                    <div class="data">
                        <h5>My Account</h5>
                        <p>Update your profile details</p>
                    </div>
                    <i class="material-icons">keyboard_arrow_right</i>
                </a>
                <div class="collapse" id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionSettings">
                    <form class="content" method="POST" action="{% url 'update_profile' %}" enctype='multipart/form-data'>
                        {% csrf_token %}
                        <div class="upload">
                            <div class="data">
                                <img class="avatar-xl" :src="profile.image" alt="image">
                                <label>
                                    <input type="file" name="image" accept="image/*">
                                    <span class="btn button">Upload avatar</span>
                                </label>
                            </div>
                            <p>For best results, use an image at least 256px by 256px in either .jpg or .png format!</p>
                        </div>
                        <div>
                            <div class="parent">
                                <div class="field">
                                    <label for="firstName">Username<span>*</span></label>
                                    <input type="text" name="username" class="form-control" id="firstName" placeholder="Username">
                                </div>
                            </div>
                            <div class="field">
                                <label for="email">Email <span>*</span></label>
                                <input type="email" name="email" class="form-control" id="email" placeholder="Enter your email address">
                            </div>
                            <div class="field">
                                <label for="password">Old Password</label>
                                <input type="password" name="old_password" class="form-control" id="password" placeholder="Enter the old password">
                            </div>
                            <div class="field">
                                <label for="password1">New Password</label>
                                <input type="password" name="new_password1" class="form-control" id="password1" placeholder="Enter a new password">
                            </div>
                            <div class="field">
                                <label for="password2">Confirm New Password</label>
                                <input type="password" name="new_password2" class="form-control" id="password2" placeholder="Confirm the new password">
                            </div>
                            <button type="submit" class="btn button w-100">Apply</button>
                        </div>
                    </form>
                </div>
            </div>

            <form action="{% url 'delete_profile' %}" method="post" style="margin: 10px auto">
                {% csrf_token %}
                <button class="btn btn-danger w-100" style="background-color: crimson; color: white;">Delete Account</button>
            </form>
            <!-- End of My Account -->
            <!-- Start of Chat History -->
            <div class="category">
                
            </div>
            <!-- End of Chat History -->
            <!-- Start of Notifications Settings -->
            <div class="category">
            
            </div>
            <!-- End of Notifications Settings -->
            <!-- Start of Connections -->
            <div class="category">
                
            </div>
            <!-- End of Connections -->
            <!-- Start of Appearance Settings -->
            <div class="category">
                
            </div>
            <!-- End of Appearance Settings -->
            <!-- Start of Language -->
            <div class="category">
                
            </div>
            <!-- End of Language -->
            <!-- Start of Privacy & Safety -->
            <div class="category">
                
            </div>
            <!-- End of Privacy & Safety -->
            <!-- Start of Logout -->
            <div class="category">
                
            </div>
            <!-- End of Logout -->
        </div>
    </div>
</div>
<!-- End of Settings -->